<html>
    <head>

 
      <script src="js/bootstrap.bundle.js"></script>
      <script src="js/jquery.js"></script>
      <meta charset="utf-8">

    
<head>
 
  <title>Página de Inicio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">SuperParking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active" href="index3.html">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="index5.html">Mi Vehículo</a></li>
          <li class="nav-item"> <a class= "nav-link" href="index4.html">Tiempo</a></li>
          <li class="nav-item"><a class="nav-link" href="index6.html">Lugares</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Mapa</a></li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar">  
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white text-center py-5">
    <div class="container">
      <h1>Bienvenido a SuperParking</h1>
      <p class="lead">Tu solución inteligente para encontrar parqueadero fácilmente</p>
    </div>
  </header>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
    
               <img src="imagenes/fondo.png"/>

               <script>
       $(document).ready(function(){

       $("#ingresar").click(function(){
          Menú = $("#Menú").val();

            })
        })
   </script>
</nav>
    </body>
</html>