<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Login via api Rol</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
<body>

    <center>
        <h1>Registro de Roles</h1>
        <form id="loginForm">
            <label>Nombre:</label>
            <p>
                <input type="text" id="username" required>
            <p>
                <button type="submit">Ingresar</button>
            </p>
            </form>
            <div id="msg"></div>
    </center>
</html>