<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Login via api hora de parqueo</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
label, input { display: block; margin: .5rem 0; }
</style>
</head>
<body>
    <center>
<h1>Facturas</h1>

<form id="loginForm">
<label>Vehiculo:</label>
<p>
<input type="text" id="username" required>
</p>
<p>
<label>Servicio:</label>
<input type="text" id="username" required>
</p>
<button type="submit">Ingresar</button>
</form>
<div id="msg"></div>
</center>